@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1c1629;
    font-family: 'Bebas Neue';
    color: white;
}

h3 {
    margin: 0px;
    color: #f0ffffde;
    font-size: 1.5vw;
    margin-top: 2vh;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: left;
    margin-left: 1vw;
}

.row-1 {
    align-items: flex-start;
}

.column-5 {
    margin-bottom: 5vh;
}